<div class="container">

  <%= image_tag 'banniere/banniere_crypto.jpg', class:"image-home", alt: "banniere-home" %>


  <div class="row">
    <div class="col-sm-12">
      <div class="titre">
        <h1>Blockchain</h1>
      </div>

      <div class="texte">
        <p>Blockchain is a digital ledger system that uses data structures to store information about economic transactions. It's most important feature is that it provides a secure, verifiable way of storing and transferring information without the need for a central authority or financial intermediary.<br>

        It was created by Satoshi Nakamoto in 2008 and originally used for Bitcoin cryptocurrency, but has since been adopted as an accounting method for other applications such as supply chain management logistics.</p>
      </div>

      <hr>

      <div class="titre">
        <h2>Le Bitcoin</h2>
      </div>

      <div class="texte">
        <p>Bitcoin is a cryptocurrency that was first introduced in 2009. It's a form of digital currency, meaning it exists purely online. In this post, I'll take you through some basic information on Bitcoin to help you understand how it works and how you can get involved.</p>
      </div>
    </div>
  </div>
</div>
